/team0.json
/team1.json
/team2.json
/team3.json
/team4.json
/team5.json
/indiv0.json
/indiv1.json
/indiv2.json
/indiv3.json
/indiv4.json
/indiv5.json
/indiv6.json
/indiv7.json
/indiv8.json
/indiv9.json
/indiv10.json
/indiv11.json
/indiv12.json
/indiv13.json
/indiv14.json
/indiv15.json
/indiv16.json
/indiv17.json
/indiv18.json
/indiv19.json
/indiv20.json